[submodule "public"]
	path = public
	url = https://github.com/makethfun/makethfun.github.io.git
	branch = gh-pages
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
